In [1]:
import mysql.connector as mysql
import pandas as pd

db = mysql.connect(
    host = "localhost",
    port = 3307, 
    user = "root",
    passwd = "example",
    database = "ikeo_bdd"
)

cursor = db.cursor()

In [2]:
# Afficher les noms et descriptions de tous les produits

query = "SELECT nom, description FROM produits"
cursor.execute(query)
#creation dataframe
df = pd.DataFrame(cursor.fetchall())
df.columns = cursor.column_names

print(df)

           nom                           description
0      Knutsen     Table basse pour poser les bières
1         Moen                   Chaise haute de bar
2         Eide  Porte serviettes pour 100 serviettes
3  Gulbrandsen               Lit nuage en levitation
4        Naess               Table pour 128 convives
5         Lund           Bureau-cafetière électrique
6         Dahl           Tiroir à ronds de serviette
7         Ruud                    Bureau_lit combiné
8   Apfelgluck            Panier à chien (ou à chat)

In [3]:
# Afficher tous les meubles qui sont abandonnés

query = "SELECT nom FROM produits WHERE abandonne = 'Oui'"
cursor.execute(query)
#creation dataframe
df = pd.DataFrame(cursor.fetchall())
df.columns = cursor.column_names

print(df)

    nom
0  Moen
1  Dahl

In [4]:
# Effacer le Bo Meuble de Brest

# query = "DELETE FROM clients WHERE nom = 'Bo Meuble' AND ville = 'Brest'"

In [5]:
# Il y a une erreur sur le nom du meuble Apfelgluk, il faut le récrire Apfelgluck

query = "UPDATE produits SET nom = 'Apfelgluck' WHERE nom = 'Apfelgluk'"
cursor.execute(query)
db.commit()

In [6]:
# Ajouter un nouveau client : Tout à la maison, Place Terreaux, Lyon

query = "INSERT INTO clients (type, raison_sociale, adresse, ville, pays) VALUES ('Magasin', 'Tout à la maison', 'Place Terreaux', 'Lyon', 'France')"
cursor.execute(query)
db.commit()

In [7]:
# Ajouter une nouvelle facture pour le tout à la maison de Lyon , enregistré le 28/08/2018, à 18h.

# query1 = "INSERT INTO factures (numero, date, id_client) VALUES ('MSQ298', '2018-08-28', 6)"
# cursor.execute(query)
# db.commit()


# table facturer
# query2 = "INSERT INTO facturer (id_produit, quantite, id_facture) VALUES (5, 18, 8)"
# cursor.execute(query)
# db.commit()

In [8]:
# Retrouver tous les meubles achetés par le Bo Meuble de Paris

query = """
SELECT nom FROM produits 
JOIN facturer ON produits.id_produit = facturer.id_produit 
JOIN factures ON facturer.id_facture = factures.id_facture
JOIN clients ON factures.id_client = clients.id_client WHERE clients.raison_sociale = 'Bo Meuble' AND clients.ville = 'Paris'
"""

cursor.execute(query)
#creation dataframe
df = pd.DataFrame(cursor.fetchall())
df.columns = cursor.column_names

print(df)

       nom
0  Knutsen
1     Moen
2     Eide
3  Knutsen
4     Moen
5     Lund

In [9]:
# Retrouver toutes les factures enregistrées depuis le 1er juillet 2018

query = "SELECT numero FROM factures WHERE date >= '2018-07-01'"

cursor.execute(query)
#creation dataframe
df = pd.DataFrame(cursor.fetchall())
df.columns = cursor.column_names

print(df)

   numero
0  MSQ295
1  MSQ296
2  MSQ297

In [10]:
# Afficher le nombre de commandes par meubles

query = "SELECT nom, SUM(quantite) FROM facturer JOIN produits ON facturer.id_produit = produits.id_produit GROUP BY nom"

cursor.execute(query)
#creation dataframe
df = pd.DataFrame(cursor.fetchall())
df.columns = cursor.column_names

print(df)

           nom SUM(quantite)
0      Knutsen            55
1         Moen            80
2         Eide            90
3  Gulbrandsen           112
4        Naess           142
5         Lund           189
6         Dahl           124
7         Ruud            25
8   Apfelgluck           120

In [11]:
# Afficher le nombre de commandes par clients

query = """
SELECT raison_sociale, SUM(quantite) FROM facturer 
JOIN factures ON facturer.id_facture = factures.id_facture 
JOIN clients ON factures.id_client = clients.id_client GROUP BY raison_sociale
"""

cursor.execute(query)
#creation dataframe
df = pd.DataFrame(cursor.fetchall())
df.columns = cursor.column_names

print(df)

                              raison_sociale SUM(quantite)
0                                  Bo Meuble           167
1                                      Mobel            99
2                           Tout A la Maison            59
3                          The World Company           480
4  The Best Greatest Beautifulest Furnitures           132